* {
	color: white;
	font: 18px Helvetica;
}

button {
	border-radius: 10px;
	border-color: black;
	background: rgba(0, 0, 0, 0.2);
}

.tile {
	border-radius: 10px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	background-color: rgba(0, 0, 0, 0.2);
	/* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
}

.tile_webcam {
	border-radius: 10px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	background-color: rgba(0, 0, 0, 0.2);
	/* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 0 10px rgba(0, 0, 0, 0.2); */
}

.la_header {
 	color: white;
 	font: 32px Helvetica;
 	font-weight: 600;
}
